:host{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px 10px 0 10px;
    max-height: 80px;
    .where{
        flex-direction: row;
        flex: 1;
        background-color: #d8ecdf;
        color: #666;
        align-items: center;
        border-radius: 5px;
        font-size: 12px;
        font-family: sans-serif;
        max-height: 25px;
        .prefix{
            font-weight: bold;
            margin-left: 10px;
        }
        margin-bottom: 10px;
    }
    .navigation{
        flex-direction: row;
        flex: 3;
        font-family: sans-serif;
        border-bottom: 1px dotted #6b8375;
        max-height: 35px;
        padding-bottom: 10px;
        title{
            &::ng-deep h1{
                font-size: 24px;
                font-weight: normal;
                color: #6b8375;
            }
            display: flex;
            flex: 1;
            flex-direction: row;
            align-items: center;
        }
        .nav{
            flex: 1;
            flex-direction: column;
            align-items: flex-end;
            .nav-container{
                flex-direction: row;
                align-items: center;
                flex: 1;
                .before, .after{
                    align-items: center;
                    color: #f0b31c;
                    font-size: 13px;
                    span{
                        color: #6b8275;
                    }
                    &:hover{
                        color: #D5D11F;
                        span{
                            color: #D5D11F;
                        }
                    }
                }

                .before{
                    .wrapper{
                        cursor: pointer;
                        flex-direction: column;
                        align-items: flex-end;
                        flex: 1;
                        >div{
                            flex-direction: row;
                            flex: 1;
                            align-items: center;
                            i{
                                margin-right: 5px;
                            }
                        }
                    }
                }

                .after{
                    .wrapper{
                        cursor: pointer;
                        flex-direction: column;
                        align-items: flex-start;
                        flex: 1;
                        >div{
                            flex-direction: row;
                            flex: 1;
                            align-items: center;
                            i{
                                margin-left: 5px;
                            }
                        }
                    }
                }

                .position{
                    margin: 0 8px;
                    max-width: 70px;
                    height: 30px;
                    .inner{
                        font-size: 13px;
                        background: #EFEFEF;
                        border-radius: 5px;
                        color: #0b4373;
                        width: 100%;
                        text-align: center;
                        align-items: center;
                        flex-direction: column;
                        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
                        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
                        box-sizing: border-box;  
                        padding: 8px 10px 0 10px;
                    }
                }

                >div{
                    flex: 1;
                }
            }
        }
    }
    div{
        display: flex !important;
    }
}