$titleFontSize: 1.6rem;
$questionFontSize: 1.4rem;
$questionSecondaryColor: #351C75;
$answerColor: #5e32cd;

:host {
    .function-question-container{
        font-size: $questionFontSize;
        
        .change-variables-modal{
            position: fixed;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background-color:rgba(0, 0, 0, 0.8);
            z-index: 1000;
            display: flex;
            flex-direction:  row;
            align-items: center;

            .change-variables-container{

                margin: 0 auto;
                border-radius: 25px;
                background: white;
                width: 40%;
                height: 40%;
                padding: 20px;
                overflow-y: auto;

                h2.change-variables-title{
                    font-weight: bolder;
                    text-align: center;
                    color: #11434A;
                    border-bottom: solid 5px #11434A;
                    padding-bottom: 20px;
                    margin-bottom: 0;
                }

                .variable{
                    padding: 20px 30px;
                    border-bottom: solid 1px dimgray;
                    label{
                        font-weight: bold;
                        color: #333;
                    }
                    .unit{
                        display: inline-block;
                    }
                    input{
                        width: 80px;
                        font-size: 1.5rem;
                        margin-left: 10px;
                        text-align: center;
                    }
                    .invalid-value{
                        color: red;
                    }
                }

                button{
                    display: block;
                    margin-top: 20px;
                    float: right;
                    background: #11434A;
                    color: white;
                    //font-weight: bold;
                    padding: 10px;
                    border: 0;
                    font-size: 1.3rem;
                    border-radius: 10px;

                    &:hover{
                        background: #D2ECD6;
                        color: #142325;
                        border: 1px solid #11434A;
                    }

                    &:active{
                        background: #142325;
                        color: white;
                    }
                }
            }
        }

        .physics-fn-question-statement{
            text-align: justify;
            font-size: 1.2rem;
        }

        .question{
            p.question-statement{
                font-size: 1.2rem;
                span.question-number{
                    font-weight: bold;
                    color: $questionSecondaryColor;
                }
            }
            .input-container{
                display: flex;
                flex-direction: column;
                align-items: center;
                input{
                    height: 40px;
                    width: 40%;
                    font-size: $questionFontSize;
                    color: $answerColor;
                    text-align: center;

                    &::placeholder{
                        color: lightgray;
                    }

                    &::-webkit-input-placeholder{
                        color: lightgray;
                    }

                    &::-moz-placeholder{
                        color: lightgray;
                    }

                    &:-ms-input-placeholder{
                        color: lightgray;
                    }

                    &:-moz-placeholder{
                        color: lightgray;
                    }
                }
            }
        }

        .function-question-btn{
            display: flex;
            flex-direction: column;
            align-items: center;
            button.submit-btn{
                border-radius: 10px;
                height: 50px;
                width: 150px;
                font-size: 1.2rem;
                border: 3px solid #351C75;
                background: white;
                color: #351C75;
                &:hover{
                    border-color: white;
                    background: #351C75;
                    color: white;
                }
                &:disabled{
                    border-color: dimgray;
                    background: lightgray;
                    color: gray;
                }
            }
        }

        .function-question-header{
            display: flex;
            flex-direction: row;

            .name{
                flex: 1;
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                p{
                    font-weight: bold;
                    color: #351C75;
                    text-decoration: underline;
                    font-size: $titleFontSize;
                    margin: 0;
                }
            }
    
            .change-values-container{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                flex: 4;
                .change-values{
                    display: flex;
                    width: 300px;
                    flex-direction: row;
                    background-color: #cfc1f0;
                    //border: 3px solid #e67300;
                    padding: 0px;
                    border-radius: 10px;

                    &:hover{
                        background-color: #351C75;
                        .change-values-icon{
                            i{
                                color: white;
                            }
                        }
                        .change-values-statement{
                            color: white;
                        }
                    }

                    .change-values-icon{
                        flex: 1;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        i {
                            margin: 0 auto;
                            font-size: 2.5rem;
                        }
                    }
                    .change-values-statement{
                        flex: 3;
                        font-size: 0.8rem;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}