<div class="form-question-container" *ngIf="formQuestionData">
    <p class="form-question-statement">
        {{ formQuestionData.statement }}
    </p>
    <div class="form-question-answer-opts" *ngIf="isResponseObjectReady">
        <div class="form-question-answer-opt" *ngFor="let answerOpt of formQuestionData.answerOpts; let i = index">
            <!-- ONE CORRECT ANSWER -->
            <div *ngIf="formQuestionData.correct.length === 1">
                <input type="radio" name="interaction-{{ formQuestionData.interactionId }}" [disabled]="attempted >= maxAttempts" [value]="i" [(ngModel)]="userResponse[formQuestionData.interactionId]"/>
                <span> {{ answerOpt }}</span>
            </div>
            <!-- MULTIPLE CORRECT ANSWERS -->
            <div *ngIf="formQuestionData.correct.length > 1">
                <input type="checkbox" name="interaction-{{ formQuestionData.interactionId }}-{{i}}" [disabled]="attempted >= maxAttempts" [value]="i" [(ngModel)]="userResponse[i]" />
                <span> {{ answerOpt }}</span>
            </div>
        </div>
    </div>
    <div class="form-question-btn" *ngIf="formQuestionData.submitBtn">
        <button [disabled]="attempted >= maxAttempts" (click)="submitInteraction()">{{ formQuestionData.submitBtn.tag }}</button>
    </div>
</div>