:host{
    .dynamic-overlap-menu{
        position: relative;
        max-width: 1200px;
        width: 90%;
        margin: 0 auto;

        img.overlap-menu-bg{
            width:100%;
            height:100%;
            object-fit: contain;
        }

        .overlap-menu-item{
            position: absolute;
            img.overlap-menu-item-img{
                width:100%;
                height:100%;
                object-fit: contain;
            }
            
            &:hover{
                cursor: pointer;
            }
        }
    }

    .dynamic-overlap-dashboard{
        width: 70%;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        .overlap-menu-selection{
            width: 50%;
            background: white;
            margin: 0 auto;
            padding: 10px;
            text-align: center;
            font-weight: bold;
            color: #142325;
            font-size: 1rem;
        }
    }
}