:host{
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: 0 auto;

    .test-organizer-menu{
        display: flex;
        flex: 1;
        flex-direction: column;
        ul {
            display: flex;
            list-style: none;
            flex: 1;
            flex-direction: column;
            margin: 0;
            padding: 0;
            li{
                flex: 1;
                min-height: 50px;
                background: darkred;
                color: white;
                padding-top: 30px;
                font-weight: bold;
                text-align: center;
                border-bottom: 1px solid white;
                cursor: pointer;
                &:hover{
                    background: red;
                }
                &.active{
                    background: red;
                }
            }
        }
    }

    .test-organizer-content{
        flex: 2;
        padding: 20px;
        border: 1px solid darkred;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}