@import '../../../../../lo/layout/layout.mixin';
$error-red: darkred;
$success-green: green;

:host {
    .activity-submit-modal{

        .activity-submit-modal-title{
            font-weight: bolder;
            text-align: center;
            border-bottom: solid 5px;
            padding-bottom: 20px;
            margin-bottom: 0;
        }

        .result-icon-container{
            padding: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .result-icon{
                font-size: 8rem;
            }
        }

        .activity-submit-modal-msg{
            text-align: center;
            margin-top: 0;
        }

        .activity-submit-modal-reminder{
            text-align: center;
            font-size: 1.2rem;
        }

        .back-to-menu-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            .back-to-menu{
                border-radius: 10px;
                height: 50px;
                width: 250px;
                font-size: 1.2rem;
                border: 3px solid $color-scheme-2;
                background: white;
                color: $color-scheme-2;
                &:hover{
                    border-color: white;
                    background: $color-scheme-2;
                    color: white;
                }
                &:disabled{
                    border-color: dimgray;
                    background: lightgray;
                    color: gray;
                }
            }
        }

        &.error{
            .activity-submit-modal-title{
                color: $error-red;
                border-color: $error-red;
            }

            .result-icon-container{
                .result-icon{
                    color: $error-red;
                }
            }
        }

        &.success{
            .activity-submit-modal-title{
                color: $success-green;
                border-color: $success-green;
            }

            .result-icon-container{
                .result-icon{
                    color: $success-green;
                }
            }
        }
    }
}