$floatBtnBg: #351C75;
$floatBtnBgActive: #5e32cd;
$floatBtnFontColor: white;

:host{
    div.floating-btn{
        position: fixed;
        border-radius: 100%;
        background: $floatBtnBg;
        bottom: 10px;
        right: 10px;
        width: 80px;
        height: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border: solid 2px $floatBtnFontColor;
        .floating-btn-inner{
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            i{
                margin: 0 auto;
                font-size: 1.8rem;
                &:only-child {
                    font-size: 3.2rem;
                }
            }
            span{
                display: block;
                margin-top: 8px;
                font-weight: bold;
                font-size: 0.9rem;
            }
            i, span{
                color: $floatBtnFontColor;
            }
        }

        &:hover{
            background: $floatBtnFontColor;
            border: solid 2px $floatBtnBg;
            .floating-btn-inner{
                i, span{
                    color: $floatBtnBg;
                }
            }
        }

        &:active{
            background: $floatBtnBgActive;
            border: solid 2px $floatBtnFontColor;
            .floating-btn-inner{
                i, span{
                    color: $floatBtnFontColor;
                }
            }
        }
    }
}