<navigation-side-btns [hideInSection]="'cover'"></navigation-side-btns>
<div class="container">
    <course-content
        [ngClass]="getContentClasses()"
        [ngStyle]="getSlideStyle()"
        [LOCurrentState]="LOCurrentState"
    ></course-content>
</div>

<floating-btn-set [showInSection]="showHelpBtns" [floatingBtns]="helpBtns">
</floating-btn-set>

<floating-btn
    [floatBtnTag]="'Menú'"
    [floatBtnIconTxt]="'igloo'"
    [hideInSection]="hideInFloatingBtn"
    [navigateToSection]="'scenarios'">
</floating-btn>

<lo-modal [LOCurrentState]="LOCurrentState"></lo-modal>