@import 'layout.variables';
@import 'layout.mixin';

:host{
    &::ng-deep{
        display: flex;
        flex-direction: column;
        width: 100%;
        background: $layout-bg-color;

        .container{
            position: fixed;
            height: 100%;
            width: 100%;
            background-color: $content-bg-color;
            overflow: hidden;
            display: flex;
            flex: 1;

            course-content{

                /*******  COVER  ******/
                &.cover{
                    .cover-simple-container{
                        .simple-container{
                            flex-direction: column;
    
                            .main-title{
                                font-size: 5rem;
                                font-weight: bold;
                                border-bottom: 1px solid gray;
                                p {
                                    margin: 20px 0;
                                }
                            }
    
                            .subtitle{
                                margin-top: 20px;
                                font-size: 1.5rem;
                                p {
                                    margin: 10px 0;
                                }

                                .init-btn-container {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: flex-end;

                                    button{
                                        width: 200px;
                                        height: 60px;
                                        border-radius: 20px;
                                        background: white;
                                        font-weight: bold;
                                        font-size: 1.8rem;
                                        border: 1px solid dimgray;
                                        margin-top: 10px;

                                        &:hover{
                                            background: $color-scheme-4;
                                            color: white;
                                        }

                                        &:active{
                                            background: $color-scheme-3;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                /********* SCENARIOS **********/

                &.scenarios{
                    &.asteroid-scene{
                        background: $color-scheme-1;
                    }
                }
            }

            /*********************************************************/

            course-column{
                &.space-intro{
                    background: url('../../../assets/img/space.gif') no-repeat;
                    background-size: 100% 100%;
                    intro-slideshow{
                        div.intro-slideshow-content{
                            flex-direction: row;
                            align-items: center;
                            paragraph{
                                margin: 0 auto;
                                p{
                                    color: #351C75;
                                    font-size: 1.5rem;
                                    line-height: 1.5;
                                    width: 80%;
                                    margin: 0 auto;
                                    &:not(:first-of-type) {
                                        margin-top: 20px;
                                    }
                                }
                            }
                        }
                    }

                    &.no-img{
                        intro-slideshow{
                            div.intro-slideshow-content{
                                width: 40% !important;
                                flex-direction: column;

                                .return-to-menu{
                                    margin-top: 20px;
                                    button{
                                        border-radius: 10px;
                                        height: 50px;
                                        width: 150px;
                                        font-size: 1.2rem;
                                        border: 3px solid $color-scheme-3;
                                        background: white;
                                        color: $color-scheme-3;
                                        &:hover{
                                            border-color: white;
                                            background: $color-scheme-3;
                                            color: white;
                                        }
                                        &:disabled{
                                            border-color: dimgray;
                                            background: lightgray;
                                            color: gray;
                                        }
                                    }
                                }
                            }
                        }    
                    }
                }

                &.img-intro{
                    background-size: auto 100% !important;
                    background-position: center !important;
                }
            }

            course-row{
                &.cover-bottom{
                    background: $color-scheme-3;
                    padding: 20px;
                    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
                    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
                    box-sizing: border-box;

                    .entity-in-charge{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding-left: 20px;
                        p{
                            color: white;
                            font-size: 2rem;
                            margin: 5px 0;
                        }
                    }
                }
            }

            

        }

        lo-modal{
            span.credits-professional{
                font-weight: bold;
                font-size: 1rem;
            }

            .img-copyright{
                p {
                    margin: 10px 0;
                    font-size: 0.9rem;
                }
            }

            .help-title{
                p {
                    font-size: 2rem;
                    font-weight: bold;
                    text-align: center;
                    margin: 10px 0;
                    color: $color-scheme-3;
                    border-bottom: 5px solid $color-scheme-3;
                    padding: 10px;
                }
            }

            .help-item{
                border-bottom: solid 1px gray;
            }

            .simple-container{
                flex-direction: column;
            }
        }
    }
}